* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper__head {
  font-size: 50px;
  color: white;
  background-color: black;
}

.firstRow,
.secondRow,
.thirdRow {
  display: flex;
  flex-direction: row;
}

.wrapper__body > div > div {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  font-size: 200px;
  text-align: center;
  line-height: 275px;
}
